{% load static %}
{% load pfp %}

<div class="card mb-4 bg-body-tertiary" id="answer{{ answer.pk }}">
    <div class="row g-0">
        <div class="col-4 text-center" style="width: 10em;">
            <img src="{{ answer.user.profile.picture|get_pfp_url }}" class="img-fluid rounded w-50 my-3" alt="...">
            {% include 'layouts/answer_rating.html' %}
        </div>
        <div class="col-8">
            <div class="card-body h-100 position-relative">
                <p class="card-text pb-5">{{ answer.text }}</p>
                <div class="position-absolute bottom-0 start-0 p-4">
                    <input class="correct-checkbox form-check-input mt-0" type="checkbox" value="correct" aria-label="correct answer"
                        style="vertical-align: middle;" {% if user != answer.question.user %} disabled {% endif %}
                        {% if answer.is_correct %} checked {% endif %} data-id="{{ answer.pk }}"><span class="ms-2" style="vertical-align: middle;">Correct</span>
                </div>
            </div>
        </div>
    </div>
</div>