{% load static %}
{% load pfp %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body class="pb-5" style="min-width: 60em;">
    <nav class="navbar bg-body-secondary container-fluid px-5" style="height: 5em;">
        <a href="{% url 'index' %}" class="navbar-brand fs-2">AskPupkin</a>
        <form method="get" action="{% url 'index' %}" class="d-flex" role="search">
            <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        {% if user %}
        <form action="{% url 'ask' %}" method="get"><input type="submit" value="Ask!" class="btn btn-success"></form>
        {% endif %}
        <div class="h-100 d-flex align-items-center">
            {% if user.is_authenticated %}
            <img src="{{ user.profile.picture|get_pfp_url }}" class="img-fluid rounded h-75" alt="...">
            <div class="ms-4">
                <p class="fs-5 m-0"><a href="" class="text-dark">{{ user.profile.nickname }}</a></p>
                <a href="{% url 'settings' %}" class="me-3">settings</a>
                <label for="logout-submit">
                    <span style="cursor: pointer; text-decoration: underline;" class="link-danger">log out</span>
                </label>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" id="logout-submit" hidden>
                </form>
            </div>
            {% else %}
            <a href="{% url 'login' %}" class="me-3">log in</a><a href="{% url 'signup' %}">sign up</a>
            {% endif %}
        </div>
    </nav>

    <div class="container-fluid d-flex mt-3 mx-auto px-5" style="max-width: 80em;">
        <div class="col pe-5">
            {% block content %}
            {% endblock %}
        </div>

        <div class="col-3" style="min-width: 20em;">
            <div class="my-5">
                <h1>Popular Tags</h1>
                <div>
                    {% for tag in popular_tags %}
                    <a href="{% url 'tag' tag %}" class="me-2">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
            <div>
                <h1>Best Members</h1>
                <div>
                    {% for member in best_members %}
                    <p><a href="" class="mb-1">{{ member }}</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>