{% load static %}

{% if page.paginator.num_pages > 1 %}
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item {% if page.number == 1 %}disabled{% endif %}">
            <a class="page-link" href="?page=1">First</a>
        </li>
        {% if page.number > 1 %}
        <li class="page-item"><a class="page-link" href="?page={{ page.number|add:'-1' }}">{{ page.number|add:'-1' }}</a></li>
        {% endif %}
        <li class="page-item active" aria-current="page">
            <span class="page-link">{{ page.number }}</span>
        </li>
        {% if page.number < page.paginator.num_pages %}
        <li class="page-item"><a class="page-link" href="?page={{ page.number|add:'1' }}">{{ page.number|add:'1' }}</a></li>
        {% endif %}
        <li class="page-item {% if page.number == page.paginator.num_pages %}disabled{% endif %}">
            <a class="page-link" href="?page={{ page.paginator.num_pages }}">Last</a>
        </li>
    </ul>
</nav>
{% endif %}