{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<div>
    {% if category == 'new' %}
    <span class="fs-1 me-4">New Questions</span>
    <a href="{% url 'hot' %}" class="fs-3">Hot Questions</a>
    {% else %}
    <span class="fs-1 me-4">Hot Questions</span>
    <a href="{% url 'index' %}" class="fs-3">New Questions</a>
    {% endif %}
</div>

<div class="my-3" style="max-width: 50em;">
    {% for question in questions %}
    {% include 'layouts/question.html' %}
    {% endfor %}
</div>

{% include 'layouts/paginator.html' %}
{% endblock %}